@import "../../scss/variables";
#content #header-branch {
  border: 1px solid black;
  /* background-color: black;  */
  height: "50px";
  display: "inline";
  justify-content: center;
}
#content #header-branch #logo {
  height: "50px";
  width: "150px";
  display: "flex";
  padding: "20px";
  justify-content: center;
}
#content #header-branch .name {
  height: "50px";
  width: "150px";
  display: "flex";
  padding: "20px";
  justify-content: center;
}

.home-common-page {
  margin: auto;

  .home-page {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }
  .home-page-left {
    width: 60%;
    background: $ghost-white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .slide {
      background-color: gray;
      //height: 100%;
      width: 750px;
    }
  }
  .home-page-right {
    background: #fff;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //background-color: aquamarine;
  }

  .toeic-course {
    background-color: #fff;
    height: 300px;
  }
  .news {
    background-color: yellow;
    height: 300px;
  }
  .teacher {
    background-color: pink;
    height: 300px;
  }
  .link {
    background-color: yellow;
    height: 40%;
  }
  .talk {
    //background-color: pink;
    height: 70%;
    width: 100%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .home-page {
    width: 70%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home-page {
    width: 80%;
  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  .home-page-left {
    display: none;
  }
  .home-page-right {
    width: 100%;
  }
  .home-page {
    width: 90%;
  }
}
@media only screen and (max-width: 576px) {
  .home-page {
    box-shadow: unset;
    width: 100%;
  }
  .home-page-left {
    display: none;
  }
  .home-page-right {
    width: 100%;
  }
}
