#content #header-branches {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  //background-color: aquamarine;
  //border: #fff;
}
#content #header-branches #logo {
  width: 20%;
  //background: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    margin: auto;
  }
}
#content #header-branches .name {
  //background: aquamarine;
  padding-top: 1.5rem;
  width: 80%;
  font-size: 150%;
  font-family: "Crimson Text";
  font-style: oblique;
  justify-content: center;
}

.menu {
  display: "flex";
  justify-content: "center";
}

// .ant-menu > .ant-menu-item {
//   background-color: #00d2be;
//   background: #00d2be;
//   border-radius: 30px;
//   margin: 15px;
// }
// .ant-menu > .ant-menu-submenu {
//   background-color: #00d2be;
//   background: #00d2be;
//   border-radius: 30px;
//   margin: 15px;
// }

// .ant-menu > .ant-menu-item:hover,
// .ant-menu > .ant-menu-submenu:hover{
//   background-color: #00d2be;
//   background: #00d2be;
//   border-radius: 30px;
// }
// .ant-menu > .ant-menu-item-active,
// .ant-menu > .ant-menu-submenu-active,
// .ant-menu > .ant-menu-item-open,
// .ant-menu > .ant-menu-submenu-open,
// .ant-menu > .ant-menu-item-selected,
// .ant-menu > .ant-menu-submenu-selected {
//   color: aqua;
//   border: 1px solid #00d2be;
//   border-radius: 30px;
// }
