#translate-main-page {
  min-height: calc(100vh - 44px);
  height: auto;
  padding: 32px 25vw;
  color: white;

  .search-box {
    margin: 24px 0px 32px;
  }
}
.course {
  height: 400px;
  width: 100%;
  // background-color: blueviolet;
}
